    #banner {
        width: 600px;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        border: solid 10px black;
        border-radius: 10px;
    }

    #nav {
        white-space: nowrap;
        text-align: center;
    }

    #container {
        display: flex;
        width: 100%;
    }

    #main {
        width: 60%;
    }

    #aside {
        width: 40%;
    }

    #footer {
        width: 50px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Lilita One', cursive;
        color: #FFF;
        font-size: 20px;
        text-transform: uppercase;
        border: solid 10px white;

    }

    body {
        background-image: url("https://images.gamewatcherstatic.com/image/file/8/68/103298/ghost-recon-breakpoint_6077892.jpg");
        margin: 0;
        font-family: 'Lilita One', cursive;
        font-size: 20px;
        border: solid 10px black;

    }

    #nav a {
        font-family: 'Lilita One', cursive;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        margin-right: 10px;
        padding: 10px;
    }

    .imgLeft {
        float: left;
        margin-right: 15;
    }

    .imgRight {
        float: right;
        margin-left: 15;
    }

    a {
        color: white;
    }

    h1 {
        font-family: 'Stoke', serif;
        font-size: 30px;
        color: white;


    }

    h2 {
        font-family: 'Stoke', serif;
        font-size: 30px;
        color: white;

    }